.btn {
  margin: 15px 15px 5px
}

canvas {
  border: 1px solid black
}

#speedSlider {
  display: inline-block;
  width: 200px;
}

#arraySlider {
  display: inline-block;
  margin-left: 30px;
  width: 200px;
}

#root {
  text-align: center;
}

div {
  margin: auto;
}

Slider {

}