.btn {
  margin: 15px 15px 5px
}

canvas {
  border: 1px solid black
}

#speedSlider {
  display: inline-block;
  width: 200px;
}

#arraySlider {
  display: inline-block;
  margin-left: 30px;
  width: 200px;
}

#sortType {
  display: inline-block;
  margin-right: 15px;
}

#root {
  text-align: center;
}

#dropDown {
  max-height: 40px;
  min-width: 120px;
  margin-top: 10px;
}

#operations {
  position: absolute;
  margin-left: 5%;
}
